{% extends "layout.twig" %}
{% block title %}Article{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <h1><a href="{{ path('article', {articleId: article.id}) }}">{{ article.title }}</a></h1>
        <h3>by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</h3>
        <p>
            {{ article.content }}
        </p>
    </div>
</div>
{% endblock %}



