<!DOCTYPE html>
<meta charset="UTF-8">
<head>
    <title>Blog</title>
    <link rel="stylesheet" type="text/css" href="{{ url('home') }}../assets/dist/css/app.min.css">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% for article in articles %}
                <h1><a href="{{ path('article', {articleId: article.id}) }}">{{ article.title | title }}</a></h1>
                <h3>by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</h3>
                <p>
                    {% if article.content | length > 100 %}
                        {{ article.content | slice(0,100) }}
                        <a href="{{ path('article', {articleId: article.id}) }}">more&hellip;</a>
                    {% else %}
                        {{ article.content }}
                    {% endif %}
                </p>
            {% else %}
                <h1>There are no articles to show</h1>
            {% endfor %}
        </div>
    </div>

    <div class="row">
        <h1>Articles written by user</h1>
    </div>

    <div class="row">
        <div class="col-xs-12 col-md-8">
            {% for article in userArticles %}
                <h1><a href="{{ path('article', {articleId: article.id}) }}">{{ article.title | title }}</a></h1>
                <h3>by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</h3>
                <p>
                    {% if article.content | length > 100 %}
                        {{ article.content | slice(0,100) }}
                        <a href="{{ path('article', {articleId: article.id}) }}">more&hellip;</a>
                    {% else %}
                        {{ article.content }}
                    {% endif %}
                </p>
            {% else %}
                <h1>The user has written no articles</h1>
            {% endfor %}
        </div>
    </div>
    {% if userImage is empty %}
    {% else %}
    <div class="row">
        <div class="col-xs-12 col-md-8">
             <img src="https://performancebcket.s3.amazonaws.com/uploads/profile/{{userImage}}" alt="User Image">
        </div>
    </div>
    {% endif %}
     

</div>

<script type="text/javascript" src="{{ url('home') }}../assets/dist/js/index.min.js"></script>

</body>
</html>