{% extends "layout.twig" %}
{% block title %}Home{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        {% for article in articles %}
            <h1><a href="{{ path('article', {articleId: article.id}) }}">{{ article.title | title }}</a></h1>
            <h3>by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</h3>
            <p>
                {% if article.content | length > 100 %}
                    {{ article.content | slice(0,100) }}
                    <a href="{{ path('article', {articleId: article.id}) }}">more&hellip;</a>
                {% else %}
                    {{ article.content }}
                {% endif %}
            </p>
        {% else %}
            <h1>There are no articles to show</h1>
        {% endfor %}
    </div>
</div>

<div class="row">
    <h1>Articles written by user</h1>
</div>

<div class="row">
    <div class="col-xs-12 col-md-8">
        {% for article in userArticles %}
            <h1><a href="{{ path('article', {articleId: article.id}) }}">{{ article.title | title }}</a></h1>
            <h3>by {{ article.author.username }}, on {{ article.date | date("d/m/Y H:i") }}</h3>
            <p>
                {% if article.content | length > 100 %}
                    {{ article.content | slice(0,100) }}
                    <a href="{{ path('article', {articleId: article.id}) }}">more&hellip;</a>
                {% else %}
                    {{ article.content }}
                {% endif %}
            </p>
        {% else %}
            <h1>The user has written no articles</h1>
        {% endfor %}
    </div>
</div>
{% if userImage is empty %}
{% else %}
<div class="row">
    <div class="col-xs-12 col-md-8">
        <img class="img-circle" height="100" width="100" src="http://d8nj2h24bna4l.cloudfront.net/{{userImage}}" alt="User Image">
    </div>
</div>
{% endif %}
{% endblock %}

     